body {
    font-size: 1.2em;
    max-width: 50vw;
    margin: auto;
    font-family: 'Lexend Deca', sans-serif;
}

@media only screen and (max-width: 600px) {
    body {
        max-width: 95vw;
    }
}

@media only screen and (max-width: 800px) {
    body {
        max-width: 80vw;
    }
}

.art-container {
    text-align: center;
    overflow-x: hidden;
}

.art-container .art {
    display: inline-block;
    text-align: left;
    overflow-x: hidden;

    margin-left: -100%;
    margin-right: -100%;
}

main code, pre {
    background: #f0f0f0;
    padding: 2px;
    border-radius: 5px;
}

h1, h2, h3 {
    margin: 0;
    padding: 1%;
    text-align: center;
    background: linear-gradient(to right, #1a2980, #26d0ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
    min-height: 50vh;
    padding: 5%;
}

td {
    padding: 10px;
}

footer {
    text-align: center;
    padding-bottom: 5%;
}

footer img {
    padding: 1%;
}

.title {
    margin: 0;
    font-size: 3em;
    display: inline-block;
    font-family: 'Monoton', sans-serif;
    line-height: 0.9em;
    padding: 3% 0;

    background: -webkit-linear-gradient(0deg, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 600%;

    -webkit-animation: AnimationName 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}