<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        ASCII DISCO - {% block title %}{% endblock %}
    </title>

    <link href="https://fonts.googleapis.com/css2?family=Monoton&Lexend+Deca&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/default.min.css">

    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/infinite-loop.css">

    {% block head %}{% endblock %}
</head>
<body>

<a href="/" class="title">ASCII<br>DISCO</a>

<div class="infinite-loop--outer">
    <div>
        <div class="infinite-loop"><div class="infinite-loop--content"><pre style="display:inline-block;">{% block graphic %}{% endblock %}</pre></div></div>
    </div>
</div>

{% block body %}{% endblock %}

<footer>
    <p>
        <a target="_blank" href="https://twitter.com/devxpy"><img height="28em" alt="Twitter Follow"
                                                                  src="https://img.shields.io/twitter/follow/devxpy?style=social"></a>
        <a target="_blank" href="http://github.com/devxpy"><img height="28em" alt="GitHub followers"
                                                                src="https://img.shields.io/github/followers/devxpy?style=social"></a>
    </p>
    <p>
        Art stolen from the <a target="_blank" href="https://www.asciiart.eu/">ASCII Art Archive</a>
        |
        Rendered using <a target="_blank" href="https://jinja.palletsprojects.com/en/2.11.x/">Jinja</a>
    </p>
</footer>

<script src="/static/infinite-loop.js"></script>

</body>
</html>