{% extends "widgets/base.html" %}
{% from 'widgets/local-date.html' import local_date %}

{% block title %}Home{% endblock %}

{% block graphic %}{% include 'dancing.txt' %}{% endblock %}

{% block body %}
    <main>
        <table>
            {% for post in posts | reverse %}
                <tr>
                    <td>
                        {{ local_date(post.time) }}
                    </td>
                    <td>
                        <a href="{{ post.path }}">{{ post.title }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock %}
