{% extends "base.html" %}

{% block title %}ASCII Disco - The missing runtime type checker for Python{% endblock %}

{% block body %}
    <div class="art-container">
    <pre class="art" style="color: grey">
    _          _          _          _          _
  >(')____,  >(')____,  >(')____,  >(')____,  >(') ___,
    (` =~~/    (` =~~/    (` =~~/    (` =~~/    (` =~~/
~^~^`---'~^~^~^`---'~^~^~^`---'~^~^~^`---'~^~^~^`---'~^~^~
    </pre>
    </div>

    <h2><a href="/missing-type-checker">The missing runtime type checker for Python</a></h2>
    <main>
        <p>
            Python's typing module is a great tool for avoiding dumb type errors.
            But it doesn't make python a typed <i>language</i>.
            The interpreter is still the same duck-typed goo that we all love.
        </p>
        <b>Background</b>
        <p>
            The interpreter doesn't have any special knowledge about the types in the <code>typing</code> module.
        </p>
        <pre><code class="python">names: typing.List[str] = ["guido", "tim", "barry"]</code></pre>
        <p>
            From the perspective of the interpreter, name is a <code>list</code>.
        </p>
    </main>
{% endblock %}
